In [2]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/dav_data/sachins_odi_career.csv')

In [5]:
df['batting_score'].unique() # Sample Space

array(['0', '36', '10', '20', '19', '31', '53', '30', 'DNB', '4', '52',
       '22', '11', '49', '62', '1', '57', '48', '21', '77', '69', '35',
       '54', '81', '84', '14', '39', '15', '32', '23', '82', '3', '24',
       '5', '34', '8', '25', '26', '2', '28', '63', '40', '73', '6',
       '110', '115', '66', '88', '105', '13', '37', '47', '112', '41',
       '7', '65', '127', '70', '90', '137', '100', '118', '17', '89',
       '64', '67', '114', '104', '45', '44', '9', '117', 'TDNB', '27',
       '51', '91', '95', '80', '38', '143', '134', '33', '18', '128',
       '29', '141', '124', '140', '16', '120', '85', '186', '12', '93',
       '122', '101', '61', '146', '139', '68', '87', '113', '152', '50',
       '98', '97', '83', '102', '86', '78', '74', '123', '42', '55', '60',
       '99', '71', '94', '43', '79', '72', '163', '46', '138', '175',
       '96', '200', '111'], dtype=object)

In [7]:
df['match_result'].unique()

array(['lost', 'won', 'tied', 'n/r'], dtype=object)

In [11]:
# Event of Sachin scoring 50 or more
list(df[df['runs']>=50]['match_id'])

['Pune_5 Dec 1990',
 'Kolkata_4 Jan 1991',
 'Sharjah_18 Oct 1991',
 'Kolkata_10 Nov 1991',
 'Hobart_10 Dec 1991',
 'Brisbane_11 Jan 1992',
 'Melbourne_16 Jan 1992',
 'Sydney_20 Jan 1992',
 'Sydney_4 Mar 1992',
 'Hamilton_7 Mar 1992',
 'Dunedin_12 Mar 1992',
 'Jaipur_18 Jan 1993',
 'Jalandhar_20 Feb 1994',
 'Auckland_27 Mar 1994',
 'Wellington_30 Mar 1994',
 'Sharjah_13 Apr 1994',
 'Sharjah_15 Apr 1994',
 'Colombo (RPS)_9 Sep 1994',
 'Vadodara_28 Oct 1994',
 'Delhi_3 Nov 1994',
 'Kolkata_5 Nov 1994',
 'Visakhapatnam_7 Nov 1994',
 'Cuttack_9 Nov 1994',
 'Jaipur_11 Nov 1994',
 'Sharjah_9 Apr 1995',
 'Nagpur_26 Nov 1995',
 'Cuttack_18 Feb 1996',
 'Gwalior_21 Feb 1996',
 'Mumbai_27 Feb 1996',
 'Delhi_2 Mar 1996',
 'Kolkata_13 Mar 1996',
 'Singapore_5 Apr 1996',
 'Sharjah_15 Apr 1996',
 'Sharjah_19 Apr 1996',
 'Colombo (RPS)_28 Aug 1996',
 'Toronto_16 Sep 1996',
 'Bangalore_21 Oct 1996',
 'Jaipur_23 Oct 1996',
 'Mohali_3 Nov 1996',
 'Mumbai_6 Nov 1996',
 'Mumbai_14 Dec 1996',
 'Benoni_9 Feb 1997',
 'Port of Spain_27 Apr 1997',
 'Bangalore_14 May 1997',
 'Colombo (RPS)_26 Jul 1997',
 'Toronto_21 Sep 1997',
 'Sharjah_11 Dec 1997',
 'Guwahati_22 Dec 1997',
 'Dhaka_10 Jan 1998',
 'Dhaka_11 Jan 1998',
 'Dhaka_14 Jan 1998',
 'Kanpur_7 Apr 1998',
 'Sharjah_19 Apr 1998',
 'Sharjah_22 Apr 1998',
 'Sharjah_24 Apr 1998',
 'Kolkata_31 May 1998',
 'Colombo (RPS)_19 Jun 1998',
 'Colombo (RPS)_23 Jun 1998',
 'Colombo (RPS)_7 Jul 1998',
 'Toronto_20 Sep 1998',
 'Bulawayo_26 Sep 1998',
 'Dhaka_28 Oct 1998',
 'Sharjah_8 Nov 1998',
 'Sharjah_13 Nov 1998',
 'Bristol_23 May 1999',
 'Colombo (SSC)_29 Aug 1999',
 'Singapore_4 Sep 1999',
 'Hyderabad (Deccan)_8 Nov 1999',
 'Hobart_21 Jan 2000',
 'Vadodara_17 Mar 2000',
 'Nagpur_19 Mar 2000',
 'Dhaka_1 Jun 2000',
 'Nairobi (Gym)_15 Oct 2000',
 'Sharjah_20 Oct 2000',
 'Sharjah_27 Oct 2000',
 'Jodhpur_8 Dec 2000',
 'Kanpur_11 Dec 2000',
 'Indore_31 Mar 2001',
 'Visakhapatnam_3 Apr 2001',
 'Harare_24 Jun 2001',
 'Bulawayo_30 Jun 2001',
 'Harare_4 Jul 2001',
 'Johannesburg_5 Oct 2001',
 'Paarl_24 Oct 2001',
 'Chennai_25 Jan 2002',
 'Kanpur_28 Jan 2002',
 'Port of Spain_2 Jun 2002',
 'Chester-le-Street_4 Jul 2002',
 'Bristol_11 Jul 2002',
 'Paarl_12 Feb 2003',
 'Harare_19 Feb 2003',
 'Pietermaritzburg_23 Feb 2003',
 'Durban_26 Feb 2003',
 'Centurion_1 Mar 2003',
 'Johannesburg_10 Mar 2003',
 'Durban_20 Mar 2003',
 'Gwalior_26 Oct 2003',
 'Mumbai_1 Nov 2003',
 'Bangalore_12 Nov 2003',
 'Hyderabad (Deccan)_15 Nov 2003',
 'Melbourne_9 Jan 2004',
 'Brisbane_18 Jan 2004',
 'Rawalpindi_16 Mar 2004',
 'Colombo (SSC)_21 Jul 2004',
 'Colombo (RPS)_25 Jul 2004',
 'Colombo (RPS)_1 Aug 2004',
 'Ahmedabad_12 Apr 2005',
 'Nagpur_25 Oct 2005',
 'Mohali_28 Oct 2005',
 'Peshawar_6 Feb 2006',
 'Lahore_13 Feb 2006',
 'Kuala Lumpur_14 Sep 2006',
 'Kuala Lumpur_20 Sep 2006',
 'Centurion_3 Dec 2006',
 'Chennai_27 Jan 2007',
 'Vadodara_31 Jan 2007',
 'Rajkot_11 Feb 2007',
 'Port of Spain_19 Mar 2007',
 'Belfast_26 Jun 2007',
 'Belfast_29 Jun 2007',
 'Bristol_24 Aug 2007',
 'Manchester_30 Aug 2007',
 'Leeds_2 Sep 2007',
 'The Oval_5 Sep 2007',
 'Chandigarh_8 Oct 2007',
 'Nagpur_14 Oct 2007',
 'Mohali_8 Nov 2007',
 'Gwalior_15 Nov 2007',
 'Hobart_26 Feb 2008',
 'Sydney_2 Mar 2008',
 'Brisbane_4 Mar 2008',
 'Cuttack_26 Nov 2008',
 'Wellington_6 Mar 2009',
 'Christchurch_8 Mar 2009',
 'Colombo (RPS)_14 Sep 2009',
 'Hyderabad (Deccan)_5 Nov 2009',
 'Rajkot_15 Dec 2009',
 'Cuttack_21 Dec 2009',
 'Gwalior_24 Feb 2010',
 'Bangalore_27 Feb 2011',
 'Nagpur_12 Mar 2011',
 'Ahmedabad_24 Mar 2011',
 'Mohali_30 Mar 2011',
 'Dhaka_16 Mar 2012',
 'Dhaka_18 Mar 2012']

In [15]:
list(df[df['opposition']=='v Pakistan']['match_id'])

['Gujranwala_18 Dec 1989',
 'Sharjah_27 Apr 1990',
 'Sharjah_18 Oct 1991',
 'Sharjah_23 Oct 1991',
 'Sharjah_25 Oct 1991',
 'Sydney_4 Mar 1992',
 'Sharjah_15 Apr 1994',
 'Sharjah_22 Apr 1994',
 'Sharjah_7 Apr 1995',
 'Bangalore_9 Mar 1996',
 'Singapore_5 Apr 1996',
 'Sharjah_12 Apr 1996',
 'Sharjah_15 Apr 1996',
 'Toronto_16 Sep 1996',
 'Toronto_17 Sep 1996',
 'Toronto_18 Sep 1996',
 'Toronto_21 Sep 1996',
 'Toronto_23 Sep 1996',
 'Chennai_21 May 1997',
 'Colombo (SSC)_20 Jul 1997',
 'Toronto_13 Sep 1997',
 'Toronto_14 Sep 1997',
 'Toronto_17 Sep 1997',
 'Toronto_18 Sep 1997',
 'Toronto_20 Sep 1997',
 'Toronto_21 Sep 1997',
 'Hyderabad (Sind)_28 Sep 1997',
 'Karachi_30 Sep 1997',
 'Lahore_2 Oct 1997',
 'Sharjah_14 Dec 1997',
 'Dhaka_11 Jan 1998',
 'Dhaka_14 Jan 1998',
 'Dhaka_16 Jan 1998',
 'Dhaka_18 Jan 1998',
 'Toronto_20 Sep 1998',
 'Manchester_8 Jun 1999',
 'Brisbane_10 Jan 2000',
 'Hobart_21 Jan 2000',
 'Adelaide_25 Jan 2000',
 'Perth_28 Jan 2000',
 'Sharjah_23 Mar 2000',
 'Sharjah_26 Mar 2000',
 'Dhaka_3 Jun 2000',
 'Centurion_1 Mar 2003',
 'Karachi_13 Mar 2004',
 'Rawalpindi_16 Mar 2004',
 'Peshawar_19 Mar 2004',
 'Lahore_21 Mar 2004',
 'Lahore_24 Mar 2004',
 'Colombo (RPS)_25 Jul 2004',
 'Kolkata_13 Nov 2004',
 'Kochi_2 Apr 2005',
 'Visakhapatnam_5 Apr 2005',
 'Jamshedpur_9 Apr 2005',
 'Ahmedabad_12 Apr 2005',
 'Kanpur_15 Apr 2005',
 'Delhi_17 Apr 2005',
 'Peshawar_6 Feb 2006',
 'Rawalpindi_11 Feb 2006',
 'Lahore_13 Feb 2006',
 'Multan_16 Feb 2006',
 'Guwahati_5 Nov 2007',
 'Mohali_8 Nov 2007',
 'Kanpur_11 Nov 2007',
 'Gwalior_15 Nov 2007',
 'Jaipur_18 Nov 2007',
 'Centurion_26 Sep 2009',
 'Mohali_30 Mar 2011',
 'Dhaka_18 Mar 2012']

In [ ]:
# get probability of sachin scoring a duck (0)

In [17]:
event = df[df['runs']==0]

In [18]:
len(event)/len(df)

0.04319654427645788

In [20]:
len(df[df['runs']==0])/len(df['runs'])

0.04319654427645788

In [21]:
df.columns

Index(['Unnamed: 0', 'batting_score', 'wickets', 'runs_conceded', 'catches',
       'stumps', 'opposition', 'ground', 'date', 'match_result',
       'result_margin', 'toss', 'batting_innings', 'runs', 'match_id',
       'day_of_week'],
      dtype='object')

In [24]:
# Find out whether sachin scoring 100+ and match ending in tie are mutually exclusive events or not
df[(df['runs']>=100)&(df['match_result']=='tied')] # Not mutually exclusive

,Unnamed: 0,batting_score,wickets,runs_conceded,catches,stumps,opposition,ground,date,match_result,result_margin,toss,batting_innings,runs,match_id,day_of_week
445,445,120,-,-,0,0,v England,Bangalore,27 Feb 2011,tied,-,won,1st,120.0,Bangalore_27 Feb 2011,Sunday

In [27]:
df[(df['runs']==100)&(df['match_result']=='tied')] # Mutually exclusive

Empty DataFrame
Columns: [Unnamed: 0, batting_score, wickets, runs_conceded, catches, stumps, opposition, ground, date, match_result, result_margin, toss, batting_innings, runs, match_id, day_of_week]
Index: []

In [ ]:
# probability of sachin scoring greater than or equal to 100 and India winning

In [29]:
len(df[(df['runs']>=100)&(df['match_result']=='won')])/len(df)

0.07127429805615551

In [30]:
# probability of sachin scoring greater than or equal to 100 or India winning or both
len(df[(df['runs']>=100)|(df['match_result']=='won')])/len(df)

0.5399568034557235

In [ ]:
# Check whether it being Monday and Sachin Scoring in single digits are independent events

In [ ]:
# p(a) * p(b) = p(a n b)

In [31]:
df.columns

Index(['Unnamed: 0', 'batting_score', 'wickets', 'runs_conceded', 'catches',
       'stumps', 'opposition', 'ground', 'date', 'match_result',
       'result_margin', 'toss', 'batting_innings', 'runs', 'match_id',
       'day_of_week'],
      dtype='object')

In [32]:
len(df[(df['day_of_week']=='Monday')&(df['runs']<10)])/len(df)

0.02159827213822894

In [33]:
prob_of_monday = len(df[(df['day_of_week']=='Monday')])/len(df)
prob_of_single_digit = len(df[(df['runs']<10)])/len(df)

In [34]:
prob_of_monday * prob_of_single_digit

0.023510862111592624

In [ ]:
# in ML or stats - I have enough evidence to say they are almost independent

In [ ]:
# Let us say I know sachin will score 50 or more.
# What is the probability of India winning?

In [41]:
numerator = len(df[(df['runs']>=50)&(df['match_result']=="won")])

In [42]:
denominator = len(df[df['runs']>=50])

In [40]:
numerator/denominator

0.673469387755102