In [ ]:
from pathlib import Path

import numpy as np
import pandas as pd

In [ ]:
# path = Path().joinpath("..", "data", "sachins_odi_career.csv")
# df = pd.read_csv(path)
df = pd.read_csv("sachins_odi_career.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       463 non-null    int64
 1   batting_score    463 non-null    object
 2   wickets          463 non-null    object
 3   runs_conceded    463 non-null    object
 4   catches          463 non-null    object
 5   stumps           463 non-null    object
 6   opposition       463 non-null    object
 7   ground           463 non-null    object
 8   date             463 non-null    object
 9   match_result     463 non-null    object
 10  result_margin    462 non-null    object
 11  toss             463 non-null    object
 12  batting_innings  463 non-null    object
 13  runs             452 non-null    float64
 14  match_id         463 non-null    object
 15  day_of_week      463 non-null    object
dtypes: float64(1), int64(1), object(14)
memory usage: 58.0+ KB

# Experiment
Any action or process is called experiment
e.x
- Tossing a coin
- Rolling a die
- Sachin playing match
- Attempting an exam
- Shooting a basket ball
# Outcome
One possible result from the experiment
e.x
- Tossing a coin        -> got `Head` is outcome
- Roll a die            -> got `2` is outcome
- Sachin playing match  -> getting `Man of the Match` is outcome also No.of fours and sixes
# Sample Space
All possible outcomes
- Rolling a die -> `{1, 2, 3, 4, 5, 6}` are the all possible outcomes
- Tossing a coin -> `Head or Tail` are the all possible outcomes

In [ ]:
df.head()

,Unnamed: 0,batting_score,wickets,runs_conceded,catches,stumps,opposition,ground,date,match_result,result_margin,toss,batting_innings,runs,match_id,day_of_week
0,0,0,-,-,0,0,v Pakistan,Gujranwala,18 Dec 1989,lost,7 runs,won,2nd,0.0,Gujranwala_18 Dec 1989,Monday
1,1,0,-,-,0,0,v New Zealand,Dunedin,1 Mar 1990,lost,108 runs,won,2nd,0.0,Dunedin_1 Mar 1990,Thursday
2,2,36,-,-,0,0,v New Zealand,Wellington,6 Mar 1990,won,1 runs,won,1st,36.0,Wellington_6 Mar 1990,Tuesday
3,3,10,-,-,1,0,v Sri Lanka,Sharjah,25 Apr 1990,lost,3 wickets,lost,1st,10.0,Sharjah_25 Apr 1990,Wednesday
4,4,20,-,-,0,0,v Pakistan,Sharjah,27 Apr 1990,lost,26 runs,won,2nd,20.0,Sharjah_27 Apr 1990,Friday

In [ ]:
# How to get Sample Space of all possible outcomes from the Dataset when Sachin comes to bating

df["batting_score"].unique()  # Sample Space of Sachin's batting score career

array(['0', '36', '10', '20', '19', '31', '53', '30', 'DNB', '4', '52',
       '22', '11', '49', '62', '1', '57', '48', '21', '77', '69', '35',
       '54', '81', '84', '14', '39', '15', '32', '23', '82', '3', '24',
       '5', '34', '8', '25', '26', '2', '28', '63', '40', '73', '6',
       '110', '115', '66', '88', '105', '13', '37', '47', '112', '41',
       '7', '65', '127', '70', '90', '137', '100', '118', '17', '89',
       '64', '67', '114', '104', '45', '44', '9', '117', 'TDNB', '27',
       '51', '91', '95', '80', '38', '143', '134', '33', '18', '128',
       '29', '141', '124', '140', '16', '120', '85', '186', '12', '93',
       '122', '101', '61', '146', '139', '68', '87', '113', '152', '50',
       '98', '97', '83', '102', '86', '78', '74', '123', '42', '55', '60',
       '99', '71', '94', '43', '79', '72', '163', '46', '138', '175',
       '96', '200', '111'], dtype=object)

In [ ]:
# How to get Sample Space of match_result

df["match_result"].unique()  # Sample Space of Sachin's match_result

array(['lost', 'won', 'tied', 'n/r'], dtype=object)

# Event and Event vs Outcome
**An outcome** = one possible complete result of the experiment
e.x
- Sachin scoring 53 in a match is outcome

**An Event** = any condition or subset of outcomes from the sample space (Group of outcomes)
e.x
- Sachin scoring 50 or more (could have happened many times)
- Roll a die
    - Getting an even no
    - Getting an odd no
    - Getting multiples of 3

In [ ]:
# How to get Event of Sachin scoring 50 or More

df[df["runs"] >= 50].head() # All the Events of Sachin scoring more than 50

,Unnamed: 0,batting_score,wickets,runs_conceded,catches,stumps,opposition,ground,date,match_result,result_margin,toss,batting_innings,runs,match_id,day_of_week
8,8,53,2,39,2,0,v Sri Lanka,Pune,5 Dec 1990,won,6 wickets,won,2nd,53.0,Pune_5 Dec 1990,Wednesday
12,12,53,-,-,0,0,v Sri Lanka,Kolkata,4 Jan 1991,won,7 wickets,won,2nd,53.0,Kolkata_4 Jan 1991,Friday
13,13,52,-,-,0,0,v Pakistan,Sharjah,18 Oct 1991,won,60 runs,won,1st,52.0,Sharjah_18 Oct 1991,Friday
18,18,62,1,27,0,0,v South Africa,Kolkata,10 Nov 1991,won,3 wickets,won,2nd,62.0,Kolkata_10 Nov 1991,Sunday
23,23,57,-,-,1,0,v Australia,Hobart,10 Dec 1991,lost,8 wickets,won,1st,57.0,Hobart_10 Dec 1991,Tuesday

In [ ]:
# How to get the unique ids of all the Event of Sachin scoring 50 or more

matches_with_more_than_50_runs = list(df[df["runs"] >= 50]['match_id'])
matches_with_more_than_50_runs[:10]

['Pune_5 Dec 1990',
 'Kolkata_4 Jan 1991',
 'Sharjah_18 Oct 1991',
 'Kolkata_10 Nov 1991',
 'Hobart_10 Dec 1991',
 'Brisbane_11 Jan 1992',
 'Melbourne_16 Jan 1992',
 'Sydney_20 Jan 1992',
 'Sydney_4 Mar 1992',
 'Hamilton_7 Mar 1992']

In [ ]:
# How to get the event of Sachin playing against Pakistan

df[df["opposition"] == "v Pakistan"]["match_id"].head()

# df.loc[df["opposition"] == "v Pakistan", "match_id"]

0     Gujranwala_18 Dec 1989
4        Sharjah_27 Apr 1990
13       Sharjah_18 Oct 1991
16       Sharjah_23 Oct 1991
17       Sharjah_25 Oct 1991
Name: match_id, dtype: object

# Probability

In [ ]:
# Probability of Sachin scoring 0 (Zero)

total_matches = len(df)
event = df[df["runs"] == 0]

len(event) / total_matches  # There are

0.04319654427645788

# Mutually Exclusive Events

Mutually Exclusive Events are the events that can never happen together
e.x
- Scahin scoring a duck (0) and century (100) in same ODI match (The probability of this event is 0 - This will never happen)
- Getting Heads and Tails in same toss (Never happens)

In [ ]:
# Find out weather Saching scoring 100 and match ending in tie is mutually exclusive events or not

# df.head()
event = (df['runs'] == 100) & (df['match_result'] == 'tied')
df[event] # As there are no results with the event, It is Mutually Exclusive Event

Empty DataFrame
Columns: [Unnamed: 0, batting_score, wickets, runs_conceded, catches, stumps, opposition, ground, date, match_result, result_margin, toss, batting_innings, runs, match_id, day_of_week]
Index: []

# Exhaustive Events
Exhaustive Events are events (let there are 3 events A, B and C) such that A and B and C make up the entire Sample Space.
e.x
- A. Sachin scoring 100 or more
- B. Sachin scoring less than 100
- C. Sachin did not bat
Note: Here A, B and C are all the possibilties other than these there will no other option.

Rolling a die e.x
- A. All Even numbers
- B. All Odd numbers
NOTE: Both A and B covers all the possible senarios.


**Mutually Exclusive** - Events not possible (No possible outcomes)

**Mutually Exhausting** - The number of events covers all sample space (Common possible but must covers all outcomes)

# Intersection vs Union
PS is pronounced as (P intersection W)
PUS is pronounced as (P union W)

In [ ]:
# Get matches in which Sachin scored >= 100 and India won (Intersection)

event = (df["runs"] >= 100) & (df["match_result"] == "won")
all_event = len(df[event])

all_event / len(df)

0.07127429805615551

In [ ]:
# Get matches in which Sachin scored >= 100 or India won (Union)

event = (df["runs"] >= 100) | (df["match_result"] == "won")
all_event = len(df[event])

all_event / len(df)

0.5399568034557235

# Complement
Event A - Sachin scores 0 (zero)
Complment of A means Sachin does not score 0

**In rolling a die** example

If Event A is getting Event number, then the Complement of A is getting Odd number

p(A) + p(A') are exhaustive events. (A' is Complement of A)

A and A' are Exhaustive and Exclusive

# Independent Events

Two events are independent when one event has no impact or effect on the other event

e.x,
- Exam results in two different subjects
- Toss a coin and roll a die (Tossing a coin has no effect on rolling a die)

When A and B are independent of each other P(AnB) = P(A) * P(B)

In [ ]:
from fractions import Fraction
Fraction(20 / 40)

res = 21 / 420
Fraction(res).limit_denominator()

Fraction(1, 20)

In [ ]:
# Check whether it being Monday and Sachin Scoring in single digits are independent events

# [df.groupby("day_of_week")["runs"] < 10].value_counts()
prob_AnB = len(df[(df["day_of_week"] == "Monday") & (df["runs"] < 10)]) / len(df)

prob_A = len(df[df["day_of_week"] == "Monday"]) / len(df) # Probability of Monday

prob_B = len(df[df["runs"] < 10]) / len(df) # Probability of scoring single digit

prod_A_and_prob_B = prob_A * prob_B

print("P(AnB):", prob_AnB)
print("P(A) * P(B):", prod_A_and_prob_B)
print("Does P(AnB) = P(A) * P(B)?", prob_AnB == prod_A_and_prob_B)

print("\nBut as per Butterfly effect no two events are Truly independent")
print("Check this: A flap of butterfly wing in Delhi can cause a tornado in USA")

P(AnB): 0.02159827213822894
P(A) * P(B): 0.023510862111592624
Does P(AnB) = P(A) * P(B)? False

But as per Butterfly effect no two events are Truly independent
Check this: A flap of butterfly wing in Delhi can cause a tornado in USA

# Conditional Probability
In rolling a die have {1, 2, 3, 4, 5, 6} possible outcomes. The probability of getting 2 is 1/6.

I know beforehand that the outcome will be even number {2, 4, 6}, then the probablility of getting 2 will be 1/3 is called Conditional probability.

Given some condition, what is the probability of some event. In the above example the condition is we know the outcome will be even number.

In [ ]:
# Let's say I know Sachin will score 50 or more, what is the probability of India winning.

len(df[(df["runs"] >= 50) & (df["match_result"] == "won")]) / len(df[df["runs"] >= 50])

0.6344827586206897

# Bayes Theorm